[2019-03-08 09:59] SpheMakh opened #1 "Package and put on pypi"

[2019-03-11 20:18] #1 closed

[2019-03-13 07:27] o-smirnov opened #3 "Can't read higher-order polynomial models"
Got a component line like this, which makes the script fall over:

[code]

I can see the issue is here: https://github.com/paoloserra/crystalball/blob/master/Crystalball/crystalball.py#L140

as it ends up splitting the coefficients inside "[ ]" into multiple columns:
[code]
But I'm not sure how this can be dealt with with the standard numpy readers -- might need to write our own bit of code to par

[2019-03-13 08:01] paoloserra commented on #3
right, let me see what I can do

[2019-03-13 08:43] sjperkins commented on #3
Take a look at the [wsclean sky model](https://codex-africanus.readthedocs.io/en/latest/model-api.html#wsclean-spectral-model) section in codex.

This should be handled correctly by the `load` function and there're also numpy + dask `spectra` functions which produce a spectral model from wsclean polynomials described ni the columns produced by `load`.

Test cases for the above functionality are [h

[2019-03-13 09:11] o-smirnov commented on #3
Yeah, I can confirm that changing the regex to ``r"(?P<secs>\d+\.?\d*)")`` works. So, @sjperkins to fix africanus, and @paoloserra will fix crystalball to use the africanus load function?

[2019-03-13 09:12] paoloserra commented on #3
yep, working on that

[2019-03-13 09:15] sjperkins commented on #3
Working on the regex now

[2019-03-13 10:16] paoloserra commented on #3
Fixed by https://github.com/paoloserra/crystalball/commit/7b68f92c205d8ddfe4070fa2b463688ee7a96ddf once @sjperkins fixes codex-africanus . Let's keep this open until then.

Sorry @o-smirnov for not seeing https://github.com/paoloserra/crystalball/pull/4 !

[2019-03-13 10:18] sjperkins commented on #3
https://github.com/ska-sa/codex-africanus/pull/91 merged

[2019-03-13 10:23] paoloserra commented on #3
thanks @sjperkins , works for me.

@SpheMakh can you please make sure that this fixes of both codex-africanus and crystalball make it into Stimela?

[2019-03-13 10:23] #3 closed

[2019-03-13 11:10] o-smirnov opened #5 "Can the output model column be a parameter please"
See CubiCal for a recipe of how to insert new columns...

[2019-03-13 15:20] paoloserra opened #7 "who's sabrina?"

[2019-03-13 15:22] SpheMakh commented on #7
![sabrina](https://upload.wikimedia.org/wikipedia/en/1/13/Sabrina%2C_the_Teenage_Witch.jpg)

[2019-03-13 15:23] paoloserra commented on #7
quite appropriate

[2019-03-13 15:23] #7 closed

[2019-03-14 10:30] o-smirnov opened #8 "Add filtering of components by proximity to a point"
I'd like to add a ``--within X RA Dec`` option, which selects only components with X arcsec of point RA,Dec. (This could be very useful for things like peeling...)

Any objections if I implement it that way?

[2019-03-14 10:30] paoloserra commented on #8
go for it

[2019-03-15 15:10] #5 closed

[2019-03-15 15:10] #8 closed

[2019-03-15 18:39] o-smirnov opened #11 "to invert or not to invert UVW"
The help says:

[code]

I wonder at the meaning of this. What I'm trying to do is to predict the contribution of a bright point source into a separate model column. With my latest changes in, I am able to do this. However, if I then make an image from the MODEL_DATA column populated by WSCLEAN by degridding its model image, and compare it to an image made from the visibilities produced by crystalb

[2019-03-16 05:04] sjperkins commented on #11
@o-smirnov I wonder if your sign correction to the coordinate parsing flipped a sign (correctly).

I've been thinking of adding invert options to the phase_delay and dft kernels as it's a bit more efficient than flipping each uvw coordinate.

[2019-03-16 08:08] o-smirnov commented on #11
But come to think of it, yeah, the old code would have given you the opposite sign in l and m... which perhaps explains why you needed to flip the sign of u and v to agree with MeqTrees (though not w?? Hmmm...)

At the end of the day it's just the sign of the exponent in the DFT kernel. Rather set that correctly and not worry about flipping coordinates.

[2019-03-16 08:21] paoloserra commented on #11
A while back I found that -iuvw was necessary also with my function for reading of WSclean RA,Dec. That function had no RA,Dec sign error, so I don't think it's that.

[2019-03-22 18:32] SpheMakh opened #13 "add/subtract from existing column"
Add a feature that will add/subtract the predicted visibilities from an existing column

[2019-03-22 18:35] SpheMakh opened #14 "add noise to visibilities when predicting"
The user can either give the noise per visibility or the SEFD.

[2019-05-30 11:48] paoloserra opened #15 "performance optimisation"
I'm still to learn how to make the most of crystalball. My tests so far have had the following results:

components: 2,513
rows: 429,000
channels: 20
file size: 650M
**execution time: 8m**

components: 2,513
rows: 6,443,430
channels: 20
file size: 8G
**execution time: 2h30m**

components: 2,513
rows: 6,443,430
channels: 100
file size: 45G
**execution time: 8h50m**

In all cases crystalball made de

[2019-05-30 15:45] sjperkins commented on #15
Agreed, I haven't had a good chance to look at this from my side

[2019-06-05 09:30] sjperkins commented on #15
Statement: We choose small row and model chunk sizes to avoid running out of memory. This results in sub optimal performance because numba isn't given sufficient work todo.

# First Solution

Wait for dask developers to deal with memory backpressure issues in dask https://github.com/dask/distributed/issues/2602

# Second Solution

Coarsen the granularity of dask parallelism. Briefly, rather than s

[2019-06-05 10:00] paoloserra commented on #15
What is the indication of sub-optimal performance? I thought that in my examples above, with CPU usage constantly above 80% and not excessive RAM usage, the performance was as good as it could possibly be. Is that a correct assessment?

[2019-06-05 10:16] paoloserra commented on #15
That'd be nice -- but it wouldn't change things too dramatically compared to ~80%.

My hope is that, given a machine specs and possibly some user contraints (e.g., one may only want to use N threads, or limit RAM usage to a certain fraction) we can make crystalball decide how to best chunk up the problem.

[2019-06-05 14:41] sjperkins commented on #15
So I did a lot of this in montblanc and it worked fairly well -- at the cost of flexibility. The problem is that the the dimensionality of the inputs, intermediate arrays, outputs and problem sizes (time, chan, baselines, ants, beam cube size, etc. etc. etc. etc. etc.) have to be specified upfront and the expression has to be analysed (i.e. derive a graph from it) to figure out how memory flows th

[2019-06-20 18:34] paoloserra commented on #15
https://github.com/paoloserra/crystalball/commit/6bd232fbb80000870df4e90ac3fd0eb299d18924 implements automated setting of the chunk size based on the system RAM and nr of available threads. Users can control the fraction of system RAM that they want crystalball to use (default 50%).

To automatically set the chunk size give -mc 0 -rc 0 .

When setting the chunk size automatically, the ratio Nr(row

[2019-06-28 07:45] paoloserra commented on #15
Here's the results of yet another test -- the largest I've run so far.

components: 4,603
rows: 6,443,430
channels: 100
**execution time: 14h40m**

This is less than the expected 16h10m based on the largest test listed in the first post of this issue. Part of the reason might be that this time I let crystalball decide how to chunk up the problem. It ran with 114 sources and 11474 rows per chunk. A

[2019-07-01 15:38] sjperkins commented on #15
I think this is because the chunk sizes were larger, resulting in a smaller graph and more time spent in the numba compute, rather than the python glue.

[2019-08-29 17:14] paoloserra commented on #15
https://github.com/ska-sa/codex-africanus/pull/143 gives hope for better performance. To be followed up!

[2019-09-03 08:11] paoloserra commented on #15
I've updated codex (```git describe --tags``` gives ```0.1.8-29-gd4f1244```) and run some of the above tests again. These are the results.

[code]

**old execution time: 14h40m**
**new execution time: 10h40m**

[code]

**old execution time: 8m**
**new execution time: 5m**

So for the largest dataset crystalball was indeed faster but only by a factor 1.4. For the smallest dataset crystalball was a

[2019-09-08 15:53] KshitijT opened #17 "Crystalball supports only circular DS9 region files"
I am using Crystalball and running into this error:
[code]
While I am happy to make Circular region files, it might not be the best thing to do since radio sources are not guaranteed to be circular.

[2019-09-08 16:05] paoloserra commented on #17
pinging @o-smirnov

[2019-09-09 08:25] o-smirnov commented on #17
Yeah sorry, this is a limitation that needs to be either fixed or documented in the help clearly.

It should have been very simple. I just read the regions files with the ``pyregions`` package (here: https://github.com/paoloserra/crystalball/blob/master/Crystalball/crystalball.py#L156), then I should be able to use the ``region.contains()`` method to determine whether each component is inside a re

[2019-09-09 08:28] KshitijT commented on #17
@o-smirnov , I'll give it a shot.

Do you mean CatDagger? I am not skilled enough to catch make regions with it which are **not** for dE calibration tagging..

[2019-09-09 08:32] o-smirnov commented on #17
He had some fancy code for determining whether a source is inside a region. But that's bringing tactical nuclear warheads to a pillow fight in this case.

It **should** be as easy as ``include = any([reg.contains(coord) for reg in include_regions])``, if contains() works properly now.

[2019-09-09 08:44] o-smirnov commented on #17
The region list is read [here](https://github.com/paoloserra/crystalball/blob/master/Crystalball/crystalball.py#L156), you shouldn't need to mess with that, it should read any ds9 file.

It's then passed (as a list called ``include_regions``) to ``import_from_wsclean``. So all you need to do is to fix the condiitonal here: https://github.com/paoloserra/crystalball/blob/master/Crystalball/wsclean.p

[2019-09-09 12:59] bennahugo commented on #17
Fancy code... hehe its called a dot product :) Anyway my solution will work
for arbitrary shaped convex hulls

On Mon, 09 Sep 2019, 10:28 Kshitij Thorat, <notifications@github.com> wrote:

[2019-09-09 13:01] bennahugo commented on #17
https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler/geometry.py#L333

[2019-09-16 13:13] IanHeywood opened #18 "Make the -mem switch idiot-proof"
I just ran crystalball with `-mem 90` forgetting that I should specify a fraction and not a wsclean-style percentage.

I didn't spot the

[code]

message until I had caused the server to grind to a halt for some time. Entirely my fault of course, but making this idiot-proof by capping this parameter at 1 shouldn't be too much effort!

Cheers.

[2019-09-16 17:01] paoloserra commented on #18
:D !!! will do

[2019-09-17 07:29] IanHeywood commented on #15
I can post my timings here if it's helpful to you?

[code]

[code]

[2019-09-17 07:42] sjperkins commented on #15
Thanks, all useful. @paoloserra I still haven't found time for performance testing on stills.

[2019-09-17 07:49] paoloserra commented on #15
Thank you @IanHeywood , that's very useful to know. As you may gather from this thread, we are keen to improve the performance.

Execution time aside, I would like to know whether the end result was good.

[2019-09-17 14:16] sjperkins commented on #15
@JSKenyon and I were just discussing this now w.r.t. CubicalV2 and we postulated that because the source dimension is larger, the memory chunks for the RIME terms are commensurately larger. This results in a "heartbeat" pattern where a pulse corresponds to each row chunk.

[2019-09-18 13:54] IanHeywood opened #19 "uvw troubles?"
I'm trying to subtract an off-axis troublemaker by predicting its components into a MS column using crystalball.

I made a dirty image of the resulting model column and the source ends up diametrically opposite from where it should be with respect to the phase centre, and seems to have w-errors. I imaged with wsclean, so I'm not sure I can even turn off w-corrections.

![Screen Shot 2019-09-18 at

[2019-09-18 13:59] sjperkins commented on #19
The UVW inversion is needed if you want to correspond to the CASA/MeqTrees/(wsclean?) convention regarding the sign of the exponential [e^(2*pi*1j*...].

By contrast, the standard interferometry maths specifies [e^(-2*pi*1j*...]. @landmanbester and I decided to go with that in codex.

[2019-09-18 14:01] sjperkins commented on #19
It might be better to replace ``invert-uvw`` with ``uvw-convention`` which has two choices, ['casa', 'white-book']

[2019-09-18 14:33] o-smirnov commented on #19
"Standard" in what sense? If CASA, MeqTrees **and** wsclean assumes the opposite, then that's a good chunk of modern userspace right there -- which makes anything else counter-standard by sheer weight of numbers.

I went through a similar thought process with the factor of 2 in the brightness matrix. Mathematical purity suggests XX=(I+Q)/2, which is what we initially did in MeqTrees. Conventional

[2019-09-18 14:53] IanHeywood commented on #19
OK this makes sense, I'll enable `--invert-uvw` and re-run.

However I agree with Oleg here, enabling this by default and renaming it seems like the best move. I think that if basically every piece of software you encounter adopts a convention then it becomes a question of etiquette as to whether you should strictly adhere to a textbook definition or do what everyone else is doing (something I utt

[2019-09-18 16:02] sjperkins commented on #19
By standard, I mean Interferometry and Synthesis in Radio Astronomy (3rd Edition), Equation 3.2 or 3.7.

Quibbling aside, as long as we name things appropriately and the convention is appropriately defaulted *in the application*, then 99.9995% of users won't need to care. :-)

[2019-09-19 15:33] IanHeywood commented on #19
The source is where it should be with `--invert-uvw` enabled.

[2019-09-19 17:36] paoloserra commented on #19
Excellent, thanks @IanHeywood . We should try to give some guidance to users on this.

[2019-09-20 09:44] sjperkins commented on #19
I've inverted the default sign convention in crystallball in PR #20

[2019-09-21 17:46] bennahugo opened #21 "Coordinate frames from WSClean are unsensical"
There are problems with the RA being dumped by WSClean. These are supposed to be positive for PKSB0407-65. I'm not sure under what circumstances the signs are being flipped though. Anybody else seen this?

[code]

[2019-09-21 18:02] bennahugo opened #22 "Cluster sources"
Currently WSClean dumps a clean component list. With regular CLEAN gains the list becomes unwieldy and too large to effectively do DFTs with. What we could try and do is. Sources within the lowest fitted beam should be combined and refitted. Does anybody here have a script to reprocess the catalogs?

[2019-09-21 19:17] KshitijT commented on #21
There is an internal conversion in crysralball, I think.

[2019-09-21 22:16] KshitijT commented on #21
And yes, I also saw it for several sources. Initially thought it might have been a multiscale issue, but is general.
P.S. If using Crystalball with ds9 region files, use only degree format - not sexagesimal, as you have above.

[2019-09-23 08:01] bennahugo commented on #21
Hmm seems to be running with sexagesimal though. Internally it uses the astropy routines which do accept sexagesimal. However, it is so slow that I switched back to using DDFacet and Montblanc

[2019-09-23 10:24] bennahugo commented on #21
I've sent Andre an email to check the coordinates produced by the imager.

[2019-10-01 13:57] paoloserra opened #24 "cannot pip install crystalball 0.2.0"
@SpheMakh @sjperkins I guess this was supposed to just work with the simple commands below?

[code]

[2019-10-01 14:01] sjperkins commented on #24
python-casacore always builds from source:

https://github.com/ska-sa/dask-ms/issues/61

I guess every package that depends on it should mention the following dependencies:

- https://github.com/casacore/casacore#building-from-source
- https://github.com/casacore/python-casacore#from-source

[2019-10-01 14:09] paoloserra commented on #24
Why was this not an issue before?

[2019-10-01 14:13] sjperkins commented on #24
Maybe kernsuite was installed or the version of python-casacore installed by built was built from source once and then cached by pip?

[2019-10-01 14:30] paoloserra commented on #24
Can it be related to the python2 to python3 change?

[2019-10-01 14:55] KshitijT opened #25 "Crystalball can't open region file"
I am running :

[code]

with release 0.2.0 of Crystalball, in a python 3 virtualenv.

Now this seems to work fine until one specifies the region file, when it crashes, with the following error:

[code]

Python 2 to 3 conversion woes?

[2019-10-01 15:20] edeblok commented on #24
I'm having the same issue. I think it specifically looks for version 3.0.0 only, meaning you need to have that casacore version installed? Previously i changed (hacked) the python-casacore version in codex-africanus/africanus/install/requirements.py to 3.1.1 to make it work with my installed casacore 3.1.1, but with the new install that now seems less trivial to do (and probably also not the right

[2019-10-01 16:06] paoloserra commented on #24
Part of my problem might be that I'm still on Ubuntu 16.04. Some clear advice on how to solve this for Ubuntu 16.04 would be appreciated.

[2019-10-02 08:57] sjperkins commented on #24
dask-ms pips python-casacore to 3.0.0.

3.1.1 supports binary wheels which promise to be more convenient, but there are still some issues with them:

- https://github.com/casacore/python-casacore/issues/184
- https://github.com/casacore/python-casacore/issues/181

so I guess the question is which problems do you want the user to deal with at install time?

Could be, but I think if the casacore/pyt

[2019-10-02 12:13] edeblok commented on #24
The instructions in the second link above (the "apt-get" and "pip install" ones) made the install work for me - I had already installed the casacore required packages previously, but not the python-casacore ones. This did indeed correctly set up the casacore 3.0.0 version etc. on Ubuntu 18.04.

(apt-get complained about libcfitsio3-dev not existing and suggested libcfitsio-dev instead - this seeme

[2019-10-02 12:53] sjperkins commented on #25
Does the following resolve the issue (as suggested by https://stackoverflow.com/a/45269679/1611416)

[code]

and would you be willing to submit a PR with the fix?

[2019-10-02 13:00] KshitijT commented on #25
The answers are, respectively,:
1) I'll check it out.
2) Yes.

[2019-10-02 16:02] sjperkins commented on #25
Thank you kindly Dr Thorat!

[2019-10-03 14:55] KshitijT commented on #25
Looks like that works, thanks for the fix ! I have made the push to the my fork, branch 'trivialfix2', @sjperkins .

[2019-10-04 06:24] #25 closed

[2019-10-04 10:05] KshitijT opened #29 "Needs field specification functionality"
It would be nice if Crystalball could be run with field specifications.
Case in point, I am running Crystalball on a non-split dataset, which has three fields. Only one of them is the target field - but Crystalball ran for all three fields.
Can we have a "field" switch to bypass this?

[2019-10-04 15:11] paoloserra commented on #24
In my case after doing

[code]

I still get the same error when pip-installing crystalball

[code]

[2019-10-04 15:20] edeblok commented on #24
Did you also run

pip install --no-binary python-casacore python-casacore

(next instruction) after the apt-get? I needed to run that as well.

On Fri, 4 Oct 2019 at 17:11, paoloserra <notifications@github.com> wrote:

[2019-10-04 15:23] paoloserra commented on #24
yes, got this

[code]
Wondering whether Python2.7 is the issue...

[2019-10-04 15:27] edeblok commented on #24
Possibly. My installation is all py3. It will also need python-casacore
3.0.0 which in my case got installed automatically as part of this.

On Fri, 4 Oct 2019 at 17:23, paoloserra <notifications@github.com> wrote:

[2019-10-04 16:40] sjperkins commented on #24
Yes crystalball is now python 3 only.

Paolo I'm guessing you need kernsuite casacore installed too

On Fri, 4 Oct 2019, 17:27 edeblok, <notifications@github.com> wrote:

[2019-10-06 14:46] o-smirnov commented on #29
Yes and can we please have this specifiable by name **and** number for a change. :)

[2019-10-08 08:11] paoloserra commented on #29
https://github.com/paoloserra/crystalball/pull/30

[2019-10-08 08:11] #29 closed

[2019-11-04 15:07] paoloserra commented on #24
I was able to install crystalball 0.2.0. This took many attempts distributed over a few weeks, so I'm afraid I don't have clear instructions on how to do it at the moment. If I manage to reconstruct what I needed to do I will include the relevant info in the readme.

[2019-11-04 15:07] #24 closed

[2019-11-04 15:09] paoloserra commented on #19
I think that as far as crystalball is concerned this is resolved. Please re-open if I'm mistaken.

[2019-11-04 15:09] #19 closed

[2019-11-05 08:04] paoloserra opened #31 "Wrong reading of WSclean source list"
Crystalball 0.2.0 does not read the WSclean source list correctly.

I imaged a field where the brightest continuum source is 60 mJy (point source). Continuum imaging is good, and the 60 mJy source is included in the WSclean source list. Yet, after running Crystalball 0.2.0 and subtracting MODEL from CORRECTED the resulting line cube still has the 60 mJy source in it. Interestingly, all other sourc

[2019-11-05 08:17] paoloserra commented on #21
@bennahugo any news on this? I'm also working on a field where the RA values are negative, but Crystalball handles that OK.

So is this an actual issue or just an ugly thing we can put up with?

[2019-11-05 08:50] paoloserra commented on #31
Problem solved by https://github.com/paoloserra/crystalball/commit/06985bc71ed8067d9f6219b787712f1ed1067327.

This is a major bug in Crystalball 0.2.0 so I suggest we make a new release.

[2019-11-05 08:50] #31 closed

[2019-11-05 11:31] sjperkins commented on #31
@paoloserra Apologies I think I introduced this bug. Thanks for fixing.

[2019-11-08 11:54] sjperkins opened #32 "0.2.1 pypi upload failed"
### Description

1. The version number in setup.py wasn't bumped
2. travis build tag 0.2.1 but tried to upload 0.2.0 to pypi.
3. this failed.

https://travis-ci.org/paoloserra/crystalball/builds/609140069?utm_source=github_status&utm_medium=notification

@SpheMakh I suggest you delete the 0.2.1 tag, bump the version in setup.py and retag 0.2.1

[2019-11-08 12:24] SpheMakh commented on #32
Done

[2019-11-08 12:24] #32 closed

[2019-11-22 11:10] paoloserra commented on #15
@sjperkins ever since the speed increase linked to, I think, https://github.com/ska-sa/codex-africanus/pull/143 (and possibly more) I've experienced somewhat unpredictable memory patterns when running crystalball on my desktop.

It typically results is substantial swapping, which I had never seen before that change. In some cases both RAM and swap slowly rise up to about 100% over the course of a

[2019-11-22 11:27] sjperkins commented on #15
I remember we discussed and you said that you saw stability in the memory profile inside MeerKATHI docker containers, but instability outside. Does this apply to your description of the problem above?

[2019-11-22 11:29] paoloserra commented on #15
No it doesn't, all of the above applies to runs of stand-alone crystalball inside a python venv, but no containers.

[2019-11-25 12:07] sjperkins commented on #15
I've been taking a look at this today but haven't found a solution yet.

[2019-11-25 15:13] paoloserra commented on #15
Thanks for the effort @sjperkins . Just to clarify, can you confirm that you see the same memory issues? Until now I thought I was the only one who had run into them.

[2019-12-09 10:34] sjperkins commented on #15
@paoloserra The following PR https://github.com/ska-sa/dask-ms/pull/75 solves the OutOfMemory problem for me, without having to resort to using the distributed scheduler approach in https://github.com/paoloserra/crystalball/pull/33.

By solve, I mean that the memory usage oscillates around 60% memory usage (memory_fraction=0.25) after an hour with testcb.ms and 40,000 sources.

[code]

Would you b

[2019-12-09 12:26] sjperkins commented on #15
Still going with the same average memory usage at ~3 hours

[code]

[2019-12-09 15:31] sjperkins commented on #15
And finishes after ~6 hours:

[code]

[2020-04-09 19:07] paoloserra commented on #15
Thanks to @sjperkins 's work, and following an initial improvement in crystalball 0.2.4, the new crystalball 0.3.0 has a stable memory usage and efficient CPU usage. Here's the first 24h of a run where I had requested a 40% memory usage on 42/56 CPUs.

![sj_4](https://user-images.githubusercontent.com/6591265/78931029-74715b80-7aa5-11ea-9fb1-8d775c57c5d2.png)

I think that we are at a good point n

[2020-04-09 19:07] #15 closed

[2020-05-21 09:48] mpatir opened #37 "memory usage oveflow"
* crystalball version: version in caracal
* Python version: 3.6
* Operating System: linux

### Description
Trying to transfer the sky model to my visibilities.
Crystalball crashed after about 17 hours processing. It appears it keeps increasing the memory usage despite requesting only 50% of my total ram. It does this until it reaches the max ram capabilities of my computer system (see plot).
<img

[2020-05-21 10:18] sjperkins commented on #37
@mpatir Can you run a pip freeze inside the caracal crystallball container and post the output here?

[2020-05-21 10:30] mpatir commented on #37
@sjperkins "caracal crystallball container" -- is this just the normal container? or does crystalball use other container tech?.

I am running caracal inside docker.

below is what I get when I run pip freeze.
APLpy==2.0.3
appdirs==1.4.4
astropy==4.0.1.post1
astropy-healpix==0.5
astroquery==0.4
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.9.1
bleach==3.1.5
bokeh==2.0.2
caracal @ file:///14TB/mr

[2020-05-21 10:36] sjperkins commented on #37
Hmmm, sounds like you're running Caracal inside a container, which in turn runs astronomy applications in containers -- containerception.

I don't run Caracal a lot myself.

I need you to go one level deeper and get a pip freeze of whatever's inside the crystalball container. @SpheMakh @paoloserra could you provide @mpatir with a command to do this?

[2020-05-21 10:44] paoloserra commented on #37
@mpatir must be running CARACal in the standard way, i.e., within a virtual environment.

She's using current CARACal master which, in turn, uses Stimela 1.5.4 and, therefore, Crystalball 0.3.0. All this is with Docker (the other option would have been Singularity).

Sorry but I'm not sure what "pip freeze inside the crystalball container" means.

[2020-05-21 10:50] sjperkins commented on #37
I would like to confirm this.

I mean run pip freeze inside the container. Something like:

[code]

where `image/crystalball` should be replaced with whatever the actual crystalball container is.

@mpatir Was the machine running other radio astronomy software in conjunction with crystalball?

[2020-05-21 11:00] mpatir commented on #37
@sjperkins Okay I suppose the actual crystalball container would be somewhere inside Stimela @SpheMakh do you know how I could find this?

The machine was only running crystalball, inside the caracal with the virtual env using Docker container.
No other astronomy software -- this was already after selfcal which uses a bunch of astro-softwares was done.

[2020-05-21 11:47] sjperkins commented on #37
Try the followiing (if Caracal is using docker) to get the image name. I have no XP with singularity.

[code]

For example on my machine, ``docker images`` produces:

[code]

The image name is in the first column.

If this is a singularity install I don't know how to help.

[2020-05-21 12:01] sjperkins commented on #37
Sorry the image name is combination of REPOSITORY and TAG

so in the above

[code]

[2020-05-21 12:09] mpatir commented on #37
I think I found the container thing:
I ran "docker run -it mramatsoku_cab/crystalball pip freeze"

@sjperkins is below what you are looking for?

appdirs==1.4.3
asn1crypto==0.24.0
astropy==4.0.1
codex-africanus==0.2.0
cryptography==2.1.4
crystalball==0.2.4
dask==2.13.0
dask-ms==0.2.3
decorator==4.4.2
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
llvmlite==0.31.0
numba==0.48.0
numpy==1.18.2
psutil==5

[2020-05-21 12:15] sjperkins commented on #37
Yes indeed! Thanks @mpatir.

This container looks old, crystalball is on the 7th Jan 0.2.4 version, not the 9th April 0.3.0 [release](https://github.com/paoloserra/crystalball/releases)

[2020-05-21 12:21] mpatir commented on #37
@sjperkins Ah!! I see this crystalball is old.

Then now I just need to figure why my 4-days-old caracal installation has an this old crystalball.

Thank you.

[2020-05-21 12:44] paoloserra commented on #37
was this a fresh installation on a new venv following the instructions at https://caracal.readthedocs.io/en/latest/caracalREADME.html ?

[2020-05-21 12:48] mpatir commented on #37
Yes, followed those instructions until...
pip install -U git+https://github.com/ska-sa/caracal.git

which does not actually create a caracal directory for me

So I did

git clone https://github.com/ska-sa/caracal.git
pip install -U --force-reinstall <my directory>/caracal
stimela clean -ac

[2020-05-21 12:57] paoloserra commented on #37
mmmm, that'd be most bizzarre... @sjperkins , are you  sure that  `docker images | grep crystalball`  will always give the correct answer? If I do that  on my machine I get a super-dodgy container which appears to  be 4 months old, while even just judging from the format of the progress bar is definitely not right.

In fact, Mpati, could you share the progress bar printed to screen while you  were

[2020-05-21 12:58] mpatir commented on #37
also, I should mention that caracal says it has been using crystalball 0.3.0 all this time
See snippet below from a few days ago - so I am not sure why the cab is the old crystalball

2020-05-17 22:03:33 | INFO     | crystalball:_predict | Crystalball version 0.3.0

[2020-05-21 13:00] sjperkins commented on #37
No I'm not sure, it may be worth scanning through the entire ``docker images`` output.

[2020-05-21 13:02] mpatir commented on #37
okay here is the full progress traceback:
running docker create --user 1006:1100 --shm-size 1gb  -v /14TB/mramatsoku/Projects/Norma/.stimela_workdir-15899713002257626/stimela_parameter_files/transfer_model_field0_ms0-13975918117291215899713857716208.json:/stimela_mount/configfile:ro -v /14TB/mramatsoku/Software/myvenv/lib/python3.6/site-packages/stimela/cargo/cab/crystalball/src:/stimela_mount/cod

[2020-05-21 13:03] sjperkins commented on #37
Looks like its stimela/codex-africanus:1.3.2 according to:

https://github.com/ratt-ru/Stimela/blob/fbad7bd714433a93ec244760637697daffef2877/stimela/cargo/cab/crystalball/parameters.json#L3-L4

Can you please do a pip freeze on that container too? I believe that it's running crystall 0.3.0 but I'm wondering what else is inside the container.

[code]

[2020-05-21 13:05] paoloserra commented on #37
yeah, that looks like the latest crystalball

@sjperkins is it possible that the problem that was affecting tricolour and other dask-ms applications is now affecting crystalball, too?

[2020-05-21 13:15] sjperkins commented on #37
The image in https://github.com/paoloserra/crystalball/issues/37#issue-622383887 shows a spike after about 6 hours of compute and again at 12.

 ![image](https://user-images.githubusercontent.com/33121017/82546622-ae2f8a80-9b58-11ea-8c5c-7cf29893b68e.png)

I'm inclined to blame the garbage collector in combination with very large arrays at this point. We've seen [issues](https://github.com/ratt-ru

[2020-05-21 13:17] sjperkins commented on #37
Also, could you please post?

[code]

[2020-05-21 13:24] paoloserra commented on #37
god bless you! :)

[2020-05-21 13:28] paoloserra commented on #37
but it will be slower, right?

[2020-05-21 13:40] sjperkins commented on #37
No, also for "technical reasons" ;-)

[2020-05-21 13:56] paoloserra commented on #37
Actually, I'd like to understand this.

Lower memory-fraction -> smaller chunk size -> more chunks to process.

Is it simply that  processing a Nx smaller chunk takes an Nx shorter time? When does this stop being true?

[2020-05-21 14:00] mpatir commented on #37
@sjperkins @paoloserra
I was in a meeting:

So I ran docker run -it stimela/codex-africanus:1.3.2 /bin/bash pip freeze

but it is complaining about some syntax error:
/usr/local/bin/pip: pip: line 9: syntax error near unexpected token `('
/usr/local/bin/pip: pip: line 9: `    sys.argv[0] = re.sub(r'(-script\.pyw?|\.exe)?$', '', sys.argv[0])'

also so I missed a lot when I was gone:
So should I try

[2020-05-21 14:01] sjperkins commented on #37
wsclean's model only uses I, not Q, U and V. It's also well-defined. This means that it's no longer necessary to store ``O(V x S)`` source coherencies in memory from ``O(V)`` and ``O(S)`` inputs where V=visibilities and S=sources. One can go straight to the ``O(V)`` output while performing ``O(V x S)`` compute.

[2020-05-21 14:01] sjperkins commented on #37
Try the following (no /bin/bash)?

[code]

[2020-05-21 14:03] mpatir commented on #37
Here is what comes out: now it is the right crystalball version

aiocontextvars==0.2.2
appdirs==1.4.3
asn1crypto==0.24.0
astropy==4.0.1.post1
codex-africanus==0.2.2
contextvars==2.4
cryptography==2.1.4
crystalball==0.3.0
dask==2.14.0
dask-ms==0.2.3
decorator==4.4.2
idna==2.6
immutables==0.11
keyring==10.6.0
keyrings.alt==3.0
llvmlite==0.31.0
loguru==0.4.1
numba==0.48.0
numpy==1.18.2
psutil==5.7.0

[2020-05-21 14:08] sjperkins commented on #37
Thanks @mpatir

The python-casacore == 3.0.0  could be problematic but that would manifest as a hang where no work is done. Instead we're seeing OutOfMemory errors.

Could you please try lowering the memory_fraction to 0.1?

[2020-05-21 14:19] mpatir commented on #37
Okay, I will try with this and let you know when it eventually dies. Crystallball normally dies after 17 hours or so it might take longer to die with the lower fraction. I will let you know.

I will keep the issue open for now, thank you

[2020-05-21 14:25] sjperkins commented on #37
I'll bet good Mirto that either it takes the same amount of time to die.

Try it with 0.05. I'm using this setting on my laptop and the cores are fully exercised.

[2020-05-21 14:26] sjperkins commented on #37
Also, if my hunch regarding the garbage collector is right, then it may not die at all!

[2020-05-21 14:30] mpatir commented on #37
I will take this action :) ..for a good bottle of south african Gin

I will try it with this very low memory fraction and see what happens.

I am not sure what the garbage collector is but I do hope it behaves.

[2020-05-21 14:38] paoloserra commented on #37
cool, and if that works we should change  the default memory fraction in CARACal

[2020-05-24 11:06] mpatir commented on #37
Solved:

Crystalball in the current caracal version runs through all the way and is stable at mem_frac = 0.01. It takes the same amount of time to transfer the model to visibilities as it had estimated at mem_frac = 0.5 (i.e.., a lower mem_frac does not seem to slow it down) and the memory usage is stable all the way through (see plot)
<img width="972" alt="crystalball_memory_usage2" src="https://

[2020-05-24 11:06] #37 closed

[2020-05-25 10:13] sjperkins commented on #37
@mpatir Glad to hear that resolves the issue!

[2020-07-01 08:30] #21 closed

[2020-07-01 08:48] paoloserra opened #39 "Crystalball speed compared to other methods"
However, it is so slow that I switched back to using DDFacet and Montblanc

_Originally posted by @bennahugo in https://github.com/paoloserra/crystalball/issues/21#issuecomment-533996895_

Now that crystalball can run in a stable and reliable way on large files, it would be good to go back to this old comment by @bennahugo and compare it with any other methods people use. Just opening this issue i

[2020-07-01 08:50] paoloserra commented on #18
@sjperkins I'm going to fix this before making a new release.

[2020-07-01 14:18] #18 closed

[2021-03-02 16:23] KshitijT commented on #13
This feature would be really, really good to have - would save fiddling with msutils or worse, CASA. Would putting a tag of Mirto/Wine/Stroopwaffels (looking at you @sjperkins ) help?

[2021-03-02 16:29] sjperkins commented on #13
Does anyone want to try use data column expressions with dask-ms master?

This test case illustrates their usage:

https://github.com/ska-sa/dask-ms/blob/master/daskms/tests/test_expression.py#L7-L28

[2021-03-02 16:35] KshitijT commented on #13
Cool, let me try it out, will pester you ~~if~~ when I mess up.

[2021-03-02 16:38] sjperkins commented on #13
Perfect, there's also a PR for tricolour here:

https://github.com/ska-sa/tricolour/pull/76

[2021-03-02 16:39] sjperkins commented on #13
Which may provide insight

[2021-03-02 16:44] sjperkins commented on #13
And docstrings here: https://github.com/ska-sa/dask-ms/blob/master/daskms/expressions.py#L54-L78

[2021-05-17 10:49] o-smirnov opened #42 ""ValueError: malformed node or string" when reading source list"
Lucky me ended up with a non-parseable source list:

[code]
@sjperkins you can get the source list at ``/net/muddy/home/oms/projects/Jove/selfcal2/im4/im4-s08-sources.txt`` (from any SARAO cluster node).

[2021-05-17 10:54] o-smirnov commented on #42
Hmm actually, looks like it's because some of those sources were dumped as NANs:
[code]
Removing the nan-lines makes the list readable.

Maybe this is a wsclean bug (@francescaLoi and myself are currently discussing it with Andre), but it would be nice to add some robustness against it, particularly if Andre insists this sort of thing is legit...

[2021-05-17 11:07] sjperkins commented on #42
Yep, this looks like it would need a fix in codex-africanus. I don't think I can transfer the issue over, so I'll just cut and paste your report over there.

[2021-05-17 12:53] sjperkins commented on #42
While the change itself is not difficult, there are a number of steps that will need to take place.

codex-africanus has now moved forward to 3.7 as the minimum python version in https://github.com/ska-sa/codex-africanus/pull/248. Any fix for https://github.com/ska-sa/codex-africanus/issues/249 will require a codex release, as well as a Python 3.7 crystalball release.

None of these steps are diff

[2021-06-10 12:58] o-smirnov opened #43 "damn you pip WTF is wrong with a list of licenses?"
* crystalball version:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

[2021-07-08 13:31] o-smirnov opened #45 "gets killed by OOM killer despite low -mf and low predicted footprint"
Not sure where to start diagnosing this. Quite a few sources here, but the MS only has two scans:
[code]

[2021-07-08 13:44] sjperkins commented on #45
I would hazard that crystalball fell afoul of the OOM Killer on Linux:

https://stackoverflow.com/questions/726690/what-killed-my-process-and-why

although it should reasonably be taking 50GB out of the 503GB total based on the budgeting above.

[2021-07-08 13:46] sjperkins commented on #45
Does

[code]

or

[code]

reveal anything interesting as per the SO answers above?

[2021-07-08 13:51] o-smirnov commented on #45
Yep:
[code]

But anyway, I caught it in the act on a subsequent run, it's been using well over 500 GB of RAM. So over x10 the estimate. Which knob can I tweak to try to reduce this?

[2021-07-08 14:00] paoloserra commented on #45
probably the memory fraction

[2021-07-08 14:01] sjperkins commented on #45
Hmmmm, thats unexpected, It felt like we had this pinned down pretty well. As, @paoloserra says, the memory fraction, but based on the Budgeting you posted above it shouldn't be asking for much (10% of system IIRC)

[2021-07-08 14:03] o-smirnov commented on #45
I tried ``-mf 0.02``. Watched memory use grow steadily to 500+ GB, killed it. It's almost like a memory leak?
[code]
Also, out of curiosity: that's 0.02 vs 0.1. But it seems to have reduced the chunk size by a factor of 5 in both the source and row dimension. Should that not decrease footprint by x25 then, in theory?

[2021-07-08 14:03] sjperkins commented on #45
Yes, something is off then.

[2021-07-08 14:05] paoloserra commented on #45
weird, we sorted this long ago and it had been behaving ever since... :(

[2021-07-08 14:05] o-smirnov commented on #45
Here's a screenshot:

![image](https://user-images.githubusercontent.com/6470079/124935842-50812a80-e006-11eb-99b4-3bc3fb949642.png)

[2021-07-08 14:05] sjperkins commented on #45
Yeah, @o-smirnov can you do a `pip freeze`  in the virtual env just for a sanity check?

[2021-07-08 14:09] o-smirnov commented on #45
[pip-freeze.txt](https://github.com/paoloserra/crystalball/files/6785089/pip-freeze.txt)

I ran with ``-mf 0.01`` and watched htop carefully. It starts modest, but once the parallelism kicks in, RAM usage just grows at a steady 5GB/s, until it hits the buffers...

[2021-07-08 14:35] o-smirnov commented on #45
For the record, trying it with https://github.com/ska-sa/dask-ms/tree/ignore-row-when-fixing-columns

The RAM growth is slower, and seems to go in spurts (climbs up by 20GB over a few seconds, then holds steady for another few). But it still won't survive until the end...

[2021-07-08 14:41] o-smirnov commented on #45
No sorry forget I said https://github.com/paoloserra/crystalball/issues/45#issuecomment-876492603. The growth behaviour did not change with the updated dask-ms. It is a function of ``-mf`` it seems. Steady with ``-mf 0.01``, start-stop with ``-mf 0.1``.

[2021-07-08 14:49] o-smirnov commented on #45
In a spirit of Trumpian doubling-down, I'm now running with ``-mf 0.5``. The start-stop growth definitely follows a trend: at -mf 0.5, the pattern is now grow by ~30-50GB, then hold steady and compute for a good long time. This repeats with every 8% increment of the progress bar. But! Overall the growth is slower (relative to progress percentage) with this higher -mf. Fingers crossed, if the trend

[2021-07-08 14:52] sjperkins commented on #45
@o-smirnov This is useful to know, I'm just going to finish off polishing up the SDSC and will give this a whirl locally. I feel like something may have changed upstream (perhaps in dask).

[2021-07-08 14:55] o-smirnov commented on #45
This is more suspenseful than watching Italy play Spain. Will it live, will it die?

![image](https://user-images.githubusercontent.com/6470079/124943963-3bf46080-e00d-11eb-9eee-c8ef862ecd62.png)

[2021-07-08 14:58] o-smirnov commented on #45
And as I type that, ~Morata misses his pen~ my RAM drops down to <130Gb at 80%! And then <80GB at 90%! And huzzah, my job finished! I'll leave it to you to puzzle out this behaviour. But at least I'm over the roadblock.

[2021-07-08 15:08] IanHeywood commented on #45
I think you need more CPU cores.

On Thu, 8 Jul 2021, 15:59 Oleg Smirnov, ***@***.***> wrote:

[2021-07-08 15:23] sjperkins commented on #45
@o-smirnov Hire this man :-D

In other news, I can reproduce locally. Downgrading to dask==2021.1.1 fixes the problem, for the moment. So that will probably fix your current run, if not the soccer score.

[2021-07-09 08:01] sjperkins commented on #45
Here's the issue.

https://github.com/dask/dask/issues/7583

dask==2021.3.1 is the last version without this problem.

[2021-07-09 08:20] paoloserra commented on #45
I love waking up to a solved issue!

(and no, I haven't really just woken up)

[2021-07-19 11:32] o-smirnov opened #46 "add final self-congratulatory message"
The console log from a successful run currently looks like this:
[code]
The last line is a 99% progress bar, but the run seems successful.

It would be less confusing if it were to show 100%, and print a final "success" message.

[2021-09-01 09:39] landmanbester commented on #46
Seconded. For me it ended with
[code]
Not sure how serious these warnings are. Also, I'm pretty sure it was at a higher percentage at some point and it ran for at least a couple of hours. Now I am uncertain whether it ran through or not. I guess I'll check what MODEL_DATA looks like to find out

[2021-09-01 10:09] sjperkins commented on #46
I doubt it's serious, -- it's saying that `dask.utils.ignoring` is deprecated, use contextlib.suppress instead

https://github.com/ska-sa/codex-africanus/blob/2f37e5c0d35adc627f1a9b83769b82083a167e80/africanus/util/dask_util.py#L11

Does it spam the console to the extent that it's impossible to tell what's going on?

[2021-09-01 10:35] landmanbester commented on #46
Thanks @sjperkins, the MODEL_DATA column looks fully populated. That's the full output I pasted above so it's not too bad

[2021-09-01 10:37] sjperkins commented on #46
Cool, it's an easy fix in codex https://github.com/ska-sa/codex-africanus/pull/256.

I think what I'm hearing is when will there be a new release and what do we want in it? I'll open a new issue about it.

[2021-09-01 10:41] sjperkins opened #47 "New release"
### Description

A few issues have built up that have easy fixes

* https://github.com/caracal-pipeline/crystalball/issues/45 is fixed by dask 2021.8.1
* https://github.com/caracal-pipeline/crystalball/issues/43 is trivial to fix
* https://github.com/caracal-pipeline/crystalball/issues/46 is trivial to fix

In terms of new features, support for the Monolithic RIME would obviously be great

* https

[2021-09-01 10:53] sjperkins commented on #47
Also, this new release will deprecate Python 3.6 support, due to codex dropping 3.6 support, due to dask dropping 3.6 support.

[2021-09-07 10:50] #43 closed

[2021-09-07 10:50] #46 closed

[2021-09-10 12:42] #45 closed

[2021-09-10 13:18] sjperkins commented on #47
Released 0.4.1 in #49 and #50

[2021-09-10 13:18] #47 closed

[2022-05-12 10:08] sihle20 opened #51 "ImportError: cannot import name 'read_ds9' from 'regions'"
* crystalball version:
* Python version:
* Operating System:

### Description

I'm trying to install Crystalball so that I can process a dd_predict step in a pipeline. I installed crystalball in a virtual environment and when I check if it was installed correctly I got an import error. I'm not sure if it's a server issue but with ike( another server) crystalball can be installed fine without the i

[2022-05-26 12:34] Kincaidr opened #52 "Separator is not found, and chunk exceed the limit"
I get this error when runnning dd predict:

[code]
full log file:

[log-boom.dd_predict.txt](https://github.com/caracal-pipeline/crystalball/files/8778949/log-boom.dd_predict.txt)

[2022-05-30 11:20] o-smirnov commented on #51
OK, it looks like ``regions`` version 0.6 has API changes which break crystalball. @danmaske has seen the same problem.

@sihle20, try ``pip install regions==0.5`` in your virtual environment, crystallball should work again. In the meantime we need to either fix the call, or pin our requirements version.

[2022-06-02 10:07] bennahugo commented on #52
I want to disentangle what is going on. Looking for this online it looks like a pipe buffer overflow which is likely stemming from the stimela logging. Could you run this step outside of stimela to see if this is the case?

[2022-06-03 12:56] Kincaidr commented on #52
It works outside of stimela

[code]

[2022-10-04 09:47] bennahugo commented on #51
Considering that newer regions have themselves breakage (some valid DS9 files just fail to load with the new parser) I suggest pinning and downgrading.

[2022-10-04 09:50] bennahugo opened #53 "Tests are not being executed"
Two problems currently exists (same as were the case for Xova):
 - Tests are still using defunct travis versions. No build failures are propagated
 - No deployments are specified in GH actions. The pypi version is out of date with the release history

I don't mind doing the fixes to get this working (including migrating this to Jenkins for building) but I need maintainer access

[2022-11-18 07:30] JSKenyon commented on #51
I believe that regions is now at `0.7`. Does it resolve the other issues @bennahugo? Obviously the API breakage is still there, but at some point it will probably be worth fixing. Note that `setup.py` was never pinned to `0.5`.

[2022-11-18 12:35] bennahugo commented on #51
I'm still waiting for maintainer access to push fixes for this package. For
now you need to downgrade to 0.5 manually unfortunately.

I'm unsure about how good the reader is -- they implemented a new reader in
0.6 which regressed from the reader in 0.5 in terms of supporting valid
saods9 regions, so we would need to check whether we should upgrade or not.

On Fri, Nov 18, 2022 at 9:31 AM JSKenyon